@import "tailwindcss";

:root {
  --color-signal-orange: #ff682c;
  --color-sienna-bronze: #816729;
  --color-carbon: #202020;
  --color-graphite: #4d4d4d;
  --color-slate: #828282;
  --color-fog: #f5f5f5;
  --color-mist: #efefef;
  --color-chalk: #e8e8e8;
  --color-paper: #ffffff;
}

@theme {
  --color-signal-orange: var(--color-signal-orange);
  --color-sienna-bronze: var(--color-sienna-bronze);
  --color-carbon: var(--color-carbon);
  --color-graphite: var(--color-graphite);
  --color-slate: var(--color-slate);
  --color-fog: var(--color-fog);
  --color-mist: var(--color-mist);
  --color-chalk: var(--color-chalk);
  --color-paper: var(--color-paper);

  --font-polysans: var(--font-polysans);
  --font-inter: var(--font-inter);
}

body {
  background-color: var(--color-mist);
  color: var(--color-carbon);
  font-family: var(--font-inter);
}

